

/* this is for the first room image */
.head{
    background-image: url(/room/roomimages/head.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}


.checkin{
    width: 50%;
    height: 140px;
    background-color:rgb(20, 0, 92);
    font-weight: bolder;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5%;
    cursor: pointer;
    display: block;
    color: white;
    float: left;
  }

  .checkout{
    width: 50%;
    height: 140px;
    background-color:rgb(20, 0, 92);
    font-weight: bolder;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5%;
    cursor: pointer;
    display: block;
    color: white;
    float: left;
  }

  .card1 input[type=number] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color:rgb(20, 0, 92);
    color: goldenrod;
  }


  .card1 input[type=number]:focus{
    border: 1px solid blue;
  }
  
  .rguest{
        width: 50%;
        height: 140px;
        background-color:rgb(20, 0, 92);
        font-weight: bolder;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        padding-top: 5%;
        cursor: pointer;
        display: block;
        color:white;
        float: left;
      }
  

      /* for the second below rooms wrap */
      .Swrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin-top: -3%;
      }
    